* {
margin:0; 
} 
html, 
body{
 height:100%

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #461d86;
   
    
}
 a {
    color: #fff;
 }   
    
p {
    margin: .5em 0 .5em 0;
    
   
    
}
header{
    display: block;
    position: fixed;    
    top:0;
    left: 0;
    width: 100%;
    background-color: #461d86;
    padding: 10px;
    box-shadow:0px 3px 15px;
}
h1 {

        font-size:3em; 
        margin-top: .5em;   
        text-shadow: 1px 2px 2px  rgb(173, 56, 56);
        text-align: center;
              }  
h2 {
               
    font-size: 2em;
    
              }
.banner {
             max-width: 10
       
}

.sub-title {
    width: 80%;
    background-color: rgb(173, 56, 56);
    font-size: 1.5em;
    padding: 30px;
    border: 50px black;
    border-width: 1px 4px 12px;
    margin-right: auto;
}          
  



.tbprice  th{
  color: #fff;
  width: 115%;
  height: 50px;
background-color:  #54328b;

}
.tbprice td{
    width: 33%;
    background-color: rgb(201, 81, 81);
}
.tbprice{
    width: 100%;
    margin-top: 30px;
    text-align: center;  
}
#menuid{
    margin: 10px 10px 10px 0px;
    font-size: large;
}
.logoimage{
    width: 200px;
    border: 20px;
    border-color: black;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black,
    5px 5px 5px black,
    5px 5px 5px black;
    transition: transform 1s;
}
/*this is for logo to load and spin on order button for slow loading page */
.load{
transform:translate(500px, 100px)  rotate(360deg);
animation: 3s spin 1s infinite;

}

@keyframes spin{
    from{
        transform: translate (500px, 100px) rotate(0deg);
    }
    to{
        transform: translate (500px, 100px) rotate(360deg);
}
}
.banner {
    
    border-radius:2%;
    box-shadow: 
    10px 10px 10px black,
    5px 5px 5px black,
    5px 5px 5px black;
    margin: 10px;}
   
   
    

 nav a:visited,
 nav a:link{
    color: #fff;
    text-decoration: none;
 }
 nav > ul {
    display: inline;
    padding: 0;
 }
 nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
 }

 nav > ul > li> a:hover{
    color:#0c041a;
    background: white;
    font-weight: 18;
    transition-duration: 3s;
    transition-timing-function:steps (4,end);  
 }
 main{
  
    background: url("images/background.png");
    padding-top:3em;
    padding-bottom: 3em;
    min-height: 85%;
   
    margin-top: 20px;
 }
 footer{
    color: #fff;
    padding: 15px;
    display: flex;
   align-items: center;
   justify-content: space-between;
 
     }
     aside,
     article {
        text-align: center;
        padding: 2em;
     }
     
     
     article {
       
        width: 90%;
     }
     .columns{
        display: flex;

        

     }
     @media only screen and (min-width:768px) {
        main {
            display: flex;
                    }
                }
    /*this is to hide my logo and images when in mobile*/
    @media (max-width:768px) {
  
         .logoimage ,.hideclass { 
            display: none;  }         
       
          aside {
        margin-left: 2%;
     }
    .columns-desktop {
        display: flex;
    }
    }
  
    .obox {
 width: 200px;
 padding: 10px;
margin-bottom: 1rem;
background-color: rgb(201, 81, 81) ;
border: solid 1px brgh(204, 204,204);
box-shadow: 5px 5px 5px;
transition-duration: 0.75s;
    }

             
        
    .obox img{
        width: 50%;
                    }
    .obox .title{
        font-weight: bold;
    }
    .obox .columns{
        width: 100%;
        }
        .obox .price{
            text-align: right;
        }
        .obox .columns div{
            width: 50%;
        }
        .obox button{
            background-color: #461d86;
            padding: 10px;
            border: solid 1px black;
            border-radius: 3px;
            color:#fff;
            
        }
