h1{
     
 
    width: 100%;
    
}
    
    
    .tbcontainer{
        text-align: -webkit-center;
    
        }
     .banner{
         max-width: 100%;
     }
     .logoimage{
         max-width: 100%;
     }